apiVersion: 1

datasources:
  - name: dmarc-ag
    type: elasticsearch
    access: proxy
    url: https://${opensearch_endpoint}
    editable: false
    jsonData:
      esVersion: 7.10
      timeField: "@timestamp"
      sigV4Auth: true
      sigV4Region: ${aws_region}